#middle{
	width: 1000px;
	margin: 167px auto;
}
#side{
	width: 180px;
	height: 787px;
	background: #f3f3f3;
	border: 1px solid #cdcdcd;
	float: left;
}
#side ul li{
	list-style: none;
}
 .upli{
	list-style: none;
	padding: 10px 18px 7px 20px;
	border-bottom: 1px dotted;

}
.ssli{
	float: left;
	margin-right: 20px;
}
#side h4{
	font-size: 14px;
	color:#555;
}
#side h5{
	font-size: 13px;
	color: #555;
	margin-bottom: 15px;
}
#side a{
	font-size: 12px;
	color: #555;
}
#sppli{
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
	overflow: hidden;
	padding: 4px;
}
#li_1{
	height: 124px;
}
#li_2{
	height: 114px;
}
#li_3{
	height: 94px;
}
#li_4{
	height: 54px;
}
#li_5{
	height: 94px;
}
#li_6{
	height: 100px;
}
#li_7{
	height: 54px;
	border-bottom: none;
}
#lun{
	margin-left: 56px;
	width: 811px;
	float: right;
	margin-top: -788px;
	margin-bottom: 10px;
}

/* 产品展示开始 */
#pd_1{
	width: 814px;
	float: right;
	margin-top: -445px;
}
#pd_2{
	width: 814px;
	float: right;

}
.product h4{
	text-indent: 10px;
}
.creatediv{
	width: 180px;
	height: 242px;
	margin: 5px 10px ;
	float: left;
}
.ppic{
	margin:20px auto;
	margin-bottom: 20px;
}
.csp{
	font-size: 10px;
}
.cspan{
	font-size: 10px;
	font-weight: bold;
	color: #d4105a;
}
.cping{
	font-size: 10px;
}
.cnum{
	color: #085c9b;
	font-size: 10px;
}
/* 产品展示结束 */


#foot{
	width: 100%;
	height: 220px;
	padding-top: 50px;
	margin:1650px auto 10px;
	background: #d4d4d4;
}
